* {
    margin: 0;
    padding: 0;

}

body {
    background: rgba(157, 157, 157, 0.512);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    background: rgba(42, 98, 63, 1);
    padding: 15px 20px;
    z-index: 10;

}

header .logo {
    position: relative;
    font-size: 2em;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}


header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}


header ul li {
    list-style: none;
}

header ul li a {
    position: relative;
    font-family: Helvetica;
    margin: 0 10px;
    padding: 4px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.7s;
}

header .ul2 {
    font-size: medium;
}

header li a:hover {
    color: #ffffffbb;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}


/* Contenedor de Categorías */
.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Tres columnas iguales */
    gap: 20px;
    /* Espaciado entre las tarjetas */
    justify-items: center;
    /* Centra las tarjetas en cada celda */
    padding: 20px;
}

.contenedor>div {
    background: #392400bb;
    ;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.489);
    overflow: hidden;
    width: 90%;
    /* Ajusta el tamaño para una buena visualización */
    text-align: center;
    transition: transform 0.3s ease;
}

.contenedor>div:hover {
    transform: scale(1.05);
    /* Efecto de zoom al pasar el ratón */
}

/* Imagen */
.contenedor img {
    max-width: 100%;
    height: 83%;
    object-fit: cover;
    background: rgba(42, 98, 63, 1);
    /* Línea decorativa */
}

.contenedor button {
    background: rgba(42, 98, 63, 1);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px 0;
}

.contenedor button:hover {
    background-color: #3e9b65;
}

/* Información */
.informacion {
    padding: 15px;
    text-align: center;
}

.informacion p:first-child {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.informacion .precio {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.informacion .precio span {
    font-size: 0.9rem;
    font-weight: 300;
}

.catalogo {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.libro {
    background: rgba(53, 35, 1, 0.644);
    border: 1px solid #563b00;
    color: #ffffff;
    border-radius: 8px;
    padding: 1rem;
    margin: 5px;
    text-align: center;
    width: 200px;
}

.libro img {
    max-width: 100%;
    height: 75%;
    border-radius: 8px;
}

/* Botón */
.informacion button {
    background: rgba(42, 98, 63, 1);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.informacion button:hover {
    background-color: #3BA663;
}

/* Asegura que el body y el contenedor principal ocupen toda la pantalla */
html,
body {
    height: 100%;
    /* Garantiza que el body tenga el 100% de la altura */
    display: flex;
    flex-direction: column;
}

/* Contenedor principal para el contenido */
main {
    margin-top: 70px;
    flex: 1;
    font-family: Helvetica;
    /* Hace que el main ocupe el espacio disponible */
}

.busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 100px;
    transition: 0.5s ease;
}


.busqueda input {
    outline: none;
    box-sizing: border-box;
    height: 35px;
    width: 0px;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid #392400bb;
    ;
    transition: all 0.7s ease;
}

.busqueda::placeholder {
    color: grey;
}

.busqueda .btn {
    position: absolute;
    right: 0px;
    width: 42.5px;
    height: 40px;
    background: #392400bb;
    ;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.busqueda .btn i {
    font-size: 20px;
    color: white;
    line-height: 40px;
    transition: all 0.7s ease;
}

.busqueda:hover input {
    width: 250px;
    /* Expansión más suave al hacer hover */
}

.busqueda:hover i {
    transform: rotate(-360deg);
}

.busqueda .btn:hover {
    background: #392400e6;
    ;
}

/* Footer siempre al fondo */

.nosotros {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}



.content {
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.5);
    color: #312002e0;
    padding: 20px 0;
    text-align: left;
}

.content .section {
    flex: 1;
    padding: 10px;
}

.section h3 {
    margin-bottom: 15px;
}

.section a {
    color: #312002e0;
    text-decoration: none;
}

.section a:hover {
    color: #ffffffe0;
    background: rgba(42, 98, 63, 1);
}

#final {
    background: rgba(42, 98, 63, 1);
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #ccc;
}

main a {
    position: relative;
    font-family: Helvetica;
    margin: 0 10px;
    padding: 4px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.7s;
}

main h1 {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding: 8px 12px;
    margin: 10px 20px;
    background: #392400bb;
    border-radius: 5px;
}

.sidebar {
    display: none;
    position: fixed;
    top: 65px;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: rgba(42, 98, 63, 1);
    transition: left 0.3s ease;
    z-index: 20;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.sidebar ul li {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #392400bb;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: #ffffffbb;

}


.menu-icon {
    display: none;
    cursor: pointer;
    margin-right: 40px;
}

.menu-icon i {
    font-size: 30px;
    color: #fff;
}

@media (max-width: 770px) {

    /* Ocultar la barra de búsqueda cuando la sidebar está abierta */
    .busqueda {
        display: none;
        /* Se oculta la búsqueda por defecto */
    }

    .busqueda.open {
        display: flex;
        /* Se muestra cuando la sidebar está abierta */
    }

    /* Aseguramos que la barra lateral esté visible */
    .sidebar {
        display: block;
    }

    /* Mostrar la barra de búsqueda en la parte superior cuando se hace clic */
    .busqueda input {
        width: 0px;
        /* Establecer un ancho de 0 para la animación */
    }

    .busqueda.open input {
        width: 250px;
        /* Expandir la barra cuando se hace clic */
    }

    .menu-icon {
        display: block;
        /* Mostrar el icono del menú en pantallas pequeñas */
    }

    header ul {
        display: none;
        /* Ocultar el menú en pantallas pequeñas */
    }

    .sidebar.open {
        left: 0;
        /* Muestra la sidebar cuando está abierta */
    }
}

.sidebar.open {
    left: 0;
}

header.abajo {
    background: rgba(42, 98, 63, 1);
}

.busqueda.open {

    display: flex;
}

.busqueda.open input {

    width: 250px;
}